<% if category == "morning_activity" || category == "afternoon_activity" %>
  <div class="category-icon">
    <i class="fa-solid fa-camera"></i>
  </div>
<% elsif category == "lunch" || category == "dinner" %>
  <div class="category-icon">
    <i class="fa-solid fa-utensils"></i>
  </div>
<% elsif category == "accommodation" %>
  <div class="category-icon">
    <i class="fa-solid fa-bed"></i>
  </div>
<% end %>
<!--
<div class="category-icon">
  <i class="fa-solid fa-bus-simple"></i>
</div>
-->
