<% if category == "Activity" %>
  <div class="category-icon pink">
    <i class="fa-solid fa-camera"></i>
  </div>
<% elsif category == "Restaurant" %>
  <div class="category-icon magenta">
    <i class="fa-solid fa-utensils"></i>
  </div>
<% elsif category == "Accommodation" %>
  <div class="category-icon purple">
    <i class="fa-solid fa-bed"></i>
  </div>
<% end %>
