<div class="day-container"   >
  <div class="card rounded-md d-flex flex-row align-items-center ps-2" >
    <h2 class="text-nowrap">Day <%= day.number %></h2>
    <div class="category-container" data-controller="sortable">
      <% day.contents.each do |content| %>
        <%= render 'category_icon', category: content.category.title %>
      <% end %>
    </div>
  </div>
</div>
