<div class="day-container"   >
  <div class="card rounded-md d-flex flex-row align-items-center ps-2" >
    <h2 class="text-nowrap">Day <%= day.number %></h2>
    <div class="category-container" data-controller="sortable">
      <% day.contents.order(position: :asc).each do |content| %>
        <%#= render 'category_icon', category: content.category.title %>
        <% if content.category.title  == "Activity" %>
          <div class="category-icon pink" data-id="<%= content.id %>" >
            <i class="fa-solid fa-camera"></i>
          </div>
        <% elsif content.category.title  == "Restaurant" %>
          <div class="category-icon magenta" data-id="<%= content.id  %>">
            <i class="fa-solid fa-utensils"></i>
          </div>
        <% elsif content.category.title  == "Accommodation" %>
          <div class="category-icon purple"  data-id="<%= content.id %>">
            <i class="fa-solid fa-bed"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
