<div class="days-container">
  <div class="card rounded-md">
    <div class="category-container p-2">
      <h2>Day <%= day.number %></h2>
      <% day.contents.each do |content| %>
        <%= render 'category_icon', category: content.category %>
      <% end %>
    </div>
  </div>
</div>
