<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Rename "<%= itinerary.title %>"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for itinerary , data: { turbo: :false } do |f| %>
          <div class="row">
            <div class="col-12 mt-2">
              <%= f.input :title, label: "Name of itinerary" %>
            </div>
            <div class="col-12 mt-2">
              <%= f.submit "Save changes", class: 'btn btn-primary btn-tabinow mt-2 w-100' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
