<div class="item-icon">
  <i class="fa-solid fa-camera"></i>
</div>
<div class="item-icon">
  <i class="fa-solid fa-utensils"></i>
</div>
<div class="item-icon">
  <i class="fa-solid fa-camera"></i>
</div>
<div class="item-icon">
  <i class="fa-solid fa-camera"></i>
</div>
<div class="item-icon">
  <i class="fa-solid fa-bus-simple"></i>
</div>
<div class="item-icon">
  <i class="fa-solid fa-bed"></i>
</div>
