<div class="overview-days-container">
  <% itinerary.days.each_with_index do |day, index| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="text-dark fs-4 mb-0"><%= "Day #{day.number}" %></h3>
          <h4 class="text-secondary mb-0"><%= (itinerary.start_date + index).strftime("%A, %b %d") %></h4>
        </div>
        <hr>
        <% day.contents.order(position: :asc).each do |content| %>
          <div class="d-flex align-items-center gap-2 my-2">
            <%= render 'category_icon', category: content.category.title %>
            <div>
              <% if content.category.sub_category == "Lunch" %>
                <p class="overview-restaurant">Lunch</p>
              <% elsif content.category.sub_category == "Dinner" %>
                <p class="overview-restaurant">Dinner</p>
              <% end %>
              <p><strong><%= content.name %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
