<div class="overview-days-container">
  <% itinerary.days.each do |day| %>
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="text-primary fs-4 text-center"><%= "Day #{day.number}" %></h3>
        <hr>
        <% day.contents.order(position: :asc).each do |content| %>
          <div class="d-flex gap-2 my-2">
            <%= render 'category_icon', category: content.category.title %>
            <div>
              <p class="overview-category"><%=  content.category.title %></p>
              <p class="mb-3"><strong><%= content.name %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
