<div class="user-select-none text-muted">
  <% if price.zero? %>
    <!-- no price -->
  <% elsif price == 10 %>
    <i class="fa-solid fa-yen-sign"></i>
  <% elsif price == 30 %>
    <i class="fa-solid fa-yen-sign"></i>
    <i class="fa-solid fa-yen-sign"></i>
  <% elsif price == 60 %>
    <i class="fa-solid fa-yen-sign"></i>
    <i class="fa-solid fa-yen-sign"></i>
    <i class="fa-solid fa-yen-sign"></i>
  <% elsif price == 60 %>
    <i class="fa-solid fa-yen-sign"></i>
    <i class="fa-solid fa-yen-sign"></i>
    <i class="fa-solid fa-yen-sign"></i>
  <% end %>
</div>
