  
<tr>
  <td><%= itinerary.name %></td>
  <td>
    <div class="status-pill <%=itinerary.status %>">
      <span><%=itinerary.status %></span>
    </div>
  </td>
  <td>3</td>
  <td>4</td>
  <td>
    <%= link_to "Edit", '#', class:"btn btn-sm btn-outline-secondary" %>
  </td>
</tr>
