<div class="container itineraries-container my-4">
  <h1>Welcome back</h1>
  <p>You have <%= pluralize(@itineraries.count, 'itinerary') %></p>
  <div class="table-responsive">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Itinerary name</th>
          <th>Status</th>
          <th>Column 3</th>
          <th>Column 4</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%# #render table row partial. Create partial called table_row %>
        <% @itineraries.each do |itinerary| %>
          <%= render 'table_row', itinerary: itinerary %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New itinerary</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'itinerary', itinerary: @itinerary %>
      </div>
    </div>
  </div>
</div>
