<%= render "shared/sidebar", itinerary: @itinerary %>
<div class="generator-container">
  <div class="left-container">
    <!-- days -->
    <% if params[:day].present? %>
      <%= render 'itineraries/day', day: @day %>
    <% else %>
      <% @itinerary.days.count do |day| %>
        <%= render 'itineraries/day', day: day %>
      <% end %>
    <% end %>
    <!-- content -->
    <div class="content-cards-container">
      <% if  params[:day].present? %>
        <% @day.contents.each do |content| %>
          <%= render 'content', content: content %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right-container">
  </div>
</div>
