<%= render "shared/sidebar", itinerary: @itinerary %>
<div class="my-3 generator-container">
  <div class="middle-container">
    <% @itinerary.days.count do |day| %>
      <%= render 'itineraries/day', day: day %>
    <% end %>
  </div>
  <div class="right-container">
  </div>
</div>
