// Define variables for your color scheme

// scss-docs-start color-variables
$tabinow-pink: rgb(234, 48, 100);
$tabinow-cyan: rgb(32, 167, 172);

$deep-blue: #050f2c;
$dark-blue: #003666;
$blue: #00aeff;
$indigo: #3b6ee6;
$purple: #8a71d4;
$magenta: #bc4e98;
$pink: #f36bb8;
$red: #ff4f81;
$orange: #ff9b43;
$yellow: #ffc168;
$green: #31dca6;
$teal: #1cc7d0;
$cyan: #0dcaf0;
$light-gray: #f4f4f4;
$gray: #0e0000;
$black: #000;
$white: #fff;
// scss-docs-end color-variables
