// Define variables for your color scheme

// scss-docs-start color-variables
$deep-blue: #050f2c;
$dark-blue: #003666;
$blue: #00aeff !default;
$indigo: #3369e7 !default;
$purple: #7c71d4 !default;
$magenta: #b84592;
// $pink: #f954b1 !default;
$red: #ff4f81 !default;
$orange: #ff6c5f !default;
$yellow: #ffc168 !default;
$green: #31dca6 !default;
$teal: #1cc7d0 !default;
// $cyan: #0dcaf0 !default;
$light-gray: #f4f4f4 !default;
$gray: #0e0000;
$black: #000;
$white: #fff;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  // "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  // "teal": $teal,
  // "cyan": $cyan,
  "black": $black,
  "white": $white,
  // "gray": $gray-600,
  // "gray-dark": $gray-800,,,,,,,,,,,,,,
) !default;
// scss-docs-end colors-map
