.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-section {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
}

.home-section.top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 0;

  h1 {
    font-size: 4rem;
    color: $white;
    text-shadow: 0 0 16px rgba($gray, 0.4);
  }

  .top-section-left {
    width: 50%;
    background-color: $light-gray;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(
        0deg,
        rgba($secondary, 0.3),
        rgba($secondary, 0.3)
      ),
      url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80");
    background-position: center;
    background-size: cover;
    min-height: 360px;
  }
  .top-section-right {
    width: 50%;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  @media (max-width: 1000px) {
    height: fit-content;
    flex-direction: column;

    .top-section-left,
    .top-section-right {
      width: 100%;
    }
    .top-section-left {
      text-align: center;
    }
  }
}

.middle-section {
  padding: 32px 16px;
}

.font-icon {
  border-radius: 50%;
}

.icon {
  color: black;
  background: white;
  width: 12rem;
  height: 12rem;
  // padding:30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.step-title {
  text-align: center;
}
