.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-top-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-section {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
}

.home-section.top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: calc(100vh - 56px);
  height: 500px;
  padding: 0;

  h1 {
    position: absolute;
    top: 42%;
    left: 24px;
  }

  .top-section-left {
    width: 100%;
    background-color: $light-gray;
    // padding: 64px 32px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    position: relative;
  }
  .top-section-right {
    min-width: fit-content;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1000px) {
    height: fit-content;
    flex-direction: column;
  }
}

.middle-section {
  margin-top: 36px;
  height: 100px;
  flex: 1 0 auto;

  h2 {
  position: absolute;
  top: 520px;
  left: 24px;
  }
}

.font-icon {
  border-radius: 50%;
}

.icon {
  color: black;
  background: white;
  width: 10vw;
  height: 10vw;
  // padding:30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.step-title {
  text-align: center;
}

.container {
  justify-content: space-between;
}
