.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-section {
  width: 100%;
  height: calc(100vh - 66px - 220px);
  max-height: 1000px;
  text-align: center;
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  background-image: linear-gradient(
      0deg,
      rgba($secondary, 0.3),
      rgba($secondary, 0.3)
    ),
    url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80");
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 3.2rem;
    color: $white;
    text-shadow: 0 0 16px rgba($gray, 0.4);
  }

  h3 {
    text-shadow: 0 0 16px rgba($gray, 0.8);
  }

  a {
    width: fit-content;
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 2rem;
    }
  }
}

.section-steps {
  flex-grow: 1;
  padding: 32px 16px;

  .illustration {
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .illustration-1 {
    background-image: asset-url("flight.png");
  }

  .illustration-2 {
    background-image: asset-url("book.png");
  }

  .illustration-3 {
    background-image: asset-url("pay.png");
  }

  .font-icon {
    border-radius: 50%;
  }

  .step-title {
    text-align: center;
    padding-top: 12px;
  }
}

.section-about {
  display: flex;
  min-height: 40vh;

  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .about-icon {
    color: $secondary;
    font-size: 1.4rem;
    width: 2.4rem;
    padding: 0 1rem;
    border-radius: 40px;
    margin-right: 1rem;
  }

  .section-about-left,
  .section-about-right {
    width: 50%;
  }

  .section-about-right {
    max-height: 40rem;
    align-self: center;
  }

  .section-about-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 4rem;
    padding-right: 0;
  }

  .section-about-right {
    min-height: 28rem;
    padding: 4rem 0;
  }
  .section-about-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  @media (max-width: 1000px) {
    flex-direction: column;

    .section-about-left,
    .section-about-right {
      width: 100%;
      min-height: fit-content;
      padding: 4rem;
    }

    // .section-about-left {
    //   padding-bottom: 0;
    // }
    .section-about-right {
      // padding: 0;
      display: none;
    }
    // .section-about-img {
    //   scale: 0.8;
    //   align-self: center;
    // }
  }

  @media (max-width: 500px) {
    .section-about-left {
      padding: 4rem 1.2rem;
    }
  }
}

.section-quote {
  min-height: 20rem;
  padding: 4rem 0;
  background-color: $primary;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quote {
    font-size: 2.4rem;
  }

  @media (max-width: 1000px) {
    padding: 2rem 1rem;
    .quote {
      font-size: 1.6rem;
    }
  }
}

.section-reviews {
  // display: flex;
  // flex-direction: column;
  padding: 4rem;
  @media (max-width: 1000px) {
    padding: 2rem 1rem;
  }
}
