.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-section {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
}

.home-section.top-section {
  display: flex;
  // flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 0;

  h1 {
    font-size: 4rem;
    color: $white;
    text-shadow: 0 0 16px rgba($gray, 0.4);
  }

  h3 {
    text-shadow: 0 0 16px rgba($gray, 0.4);
  }

  .top-section-left {
    // width: 50%;
    text-align: center;
    height: calc(100vh - 56px);
    max-height: 1000px;
    width: 100%;
    background-color: $light-gray;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(
        0deg,
        rgba($secondary, 0.3),
        rgba($secondary, 0.3)
      ),
      url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1635&q=80");
    background-position: center;
    background-size: cover;
  }
  .top-section-right {
    // width: 50%;
    width: 100%;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 50vh;
  }

  @media (max-width: 1000px) {
    height: fit-content;
    flex-direction: column;

    .top-section-left,
    .top-section-right {
      width: 100%;
    }
    .top-section-left {
      text-align: center;
    }
  }

  .external-request-form {
    font-size: 0.8rem;

    input,
    select {
      font-size: 0.9rem;
    }
  }
}

.illustration {
  height: 12rem;
  width: 12rem;
  // border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.illustration-1 {
  background-image: asset-url("flight.png");
}

.illustration-2 {
  background-image: asset-url("book.png");
}

.illustration-3 {
  background-image: asset-url("pay.png");
}

.middle-section {
  flex-grow: 1;
  padding: 32px 16px;
}

.font-icon {
  border-radius: 50%;
}

.step-title {
  text-align: center;
  padding-top: 12px;
}
