.generator-container {
  display: flex;
  padding: 8px 0;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  margin-right: 1rem;

  .left-container {
    padding: 0 12px;
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    width: 50%;

    @media (max-width: 1040px) {
      .days-container .category-container {
        min-height: 2.7rem;
      }
      .items-container {
        gap: 0.4rem;
      }
      .item-icon {
        scale: 0.9;
      }
    }
  }

  .right-container {
    border-radius: 4px;
    padding: 12px;
    padding-top: 0;
    background-color: $secondary;
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    width: 50%;
  }

  @media (max-width: 980px) {
    flex-direction: column;
    .left-container {
      order: 2;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
      max-width: none;
    }
    .right-container {
      order: 1;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
      padding: 4px 8px;
    }

    .results-container {
      display: none;
    }
  }
}

.days-container {
  padding-bottom: 8px;

  .category-container {
    min-height: 3rem;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .card {
    border-radius: 50px;
  }
}

.card.content-card {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .btn-delete-content {
    border: 0;
    padding: 4px 10px;
    border-radius: 20px;
  }

  .category-icon:hover {
    background-color: $secondary;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card-text.line-clamp {
    overflow: hidden;
  }
}
