.generator-container {
  display: flex;
  padding: 8px 0;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  // margin-right: 1rem;
  max-width: 1600px;
  margin: 0 auto;

  .left-container {
    padding: 0 12px;
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    width: 50%;

    @media (max-width: 1040px) {
      .day-container .category-container {
        min-height: 2.7rem;
      }
      .items-container {
        gap: 0.4rem;
      }
      .item-icon {
        scale: 0.9;
      }
    }
  }

  .right-container {
    border-radius: 4px;
    padding: 12px;
    padding-top: 0;
    // background-color: rgba($secondary, 0.8);
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    width: 50%;

    .card.content-card {
      cursor: grab;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    .left-container {
      order: 2;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
      max-width: none;
    }
    .right-container {
      order: 1;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
      padding: 4px 8px;
    }

    .results-container {
      display: none;
    }
  }
}

.day-container {
  padding-bottom: 8px;

  h2 {
    margin-bottom: 0;
    padding: 0 8px;
    min-width: 3rem;
    min-width: 5rem;
  }

  .category-container {
    min-height: 3rem;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .card {
    border-radius: 50px;
  }
}
