.loading-container {
  position: absolute;
  z-index: 12;
  background-color: rgba($dark, 0.6);
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spinner-border {
    scale: 1.6;
    margin-bottom: 4rem;
  }
}

.generator-container {
  display: flex;
  padding: 8px 0;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  max-height: calc(100vh - 64px);
  overflow: hidden;

  .left-container {
    padding: 0 12px;
    height: calc(100vh - 64px - 16px);
    // overflow: hidden;
    width: 70%;

    @media (max-width: 1040px) {
      .day-container .category-container {
        min-height: 2.7rem;
      }
      .items-container {
        gap: 0.4rem;
      }
      .item-icon {
        scale: 0.9;
      }
    }
  }

  .right-container {
    border-radius: 4px;
    padding: 12px;
    padding-top: 0;
    // background-color: rgba($secondary, 0.8);
    height: calc(100vh - 64px - 16px);
    // overflow: auto;
    width: 30%;
    transition: width 200ms;

    .results-container {
      // max-height: 16rem;
      height: calc(100% - 120px);
      overflow: auto;
    }

    &:hover {
      width: 50%;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 16px;

    .left-container,
    .right-container {
      flex-grow: 0;
      width: 100%;
      height: auto;
      padding: 4px 8px;
    }

    .left-container {
      order: 2;
      height: 60%;

      max-width: none;
    }
    .right-container {
      order: 1;
      height: 40%;
    }

    .results-container {
      max-height: 16rem;
    }
  }
}

.day-container {
  padding-bottom: 8px;

  .category-icon:hover {
    cursor: grab;
  }

  .category-icon:active {
    cursor: grabbing;
  }

  h2 {
    margin-bottom: 0;
    padding: 0 8px;
    min-width: 3rem;
    min-width: 5rem;
  }

  .category-container {
    min-height: 3rem;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .card {
    border-radius: 50px;
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 1.2rem;
      padding-right: 4px;
    }
  }
}
