.generator-container {
  display: flex;
  padding: 8px 0;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  margin-right: 1rem;

  .left-container {
    padding: 0 12px;
    flex-grow: 1;
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    // max-width: 640px;
    @media (max-width: 1040px) {
      .items-container {
        gap: 0.4rem;
      }
      .item-icon {
        scale: 0.9;
      }
    }
  }

  .right-container {
    border-radius: 4px;
    padding: 12px;
    padding-top: 0;
    background-color: $secondary;
    flex-grow: 1;
    height: calc(100vh - 56px - 16px);
    overflow: auto;
    min-width: 400px;
  }

  @media (max-width: 980px) {
    flex-direction: column;
    .left-container {
      order: 2;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
    }
    .right-container {
      order: 1;
      flex-grow: 0;
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0;
    }
  }
}

.days-container {
  padding-bottom: 8px;

  &:last-child {
    padding-bottom: 0;
  }

  .card {
    border-radius: 50px 4px 4px 50px;
  }
}
