.itineraries-container {
  max-width: 80vw;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba($dark, 0.6);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spinner-border {
    scale: 1.6;
    margin-bottom: 4rem;
  }
}
