.start-container {
  display: flex;

  .start-img {
    width: 40%;
    background-color: $primary;
    background-image: url(https://images.unsplash.com/photo-1505069190533-da1c9af13346?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-position: center;
    background-size: cover;
  }

  .start-form {
    width: 60%;
    padding: 4rem 8rem;
    background-color: $secondary;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    .start-img {
      order: 1;
      width: 100%;
      height: 20rem;
    }
    .start-form {
      order: 2;
      width: 100%;
    }
  }
}
