<div class="footer">
  <div class="">
    <div class="d-flex justify-content-between pt-2">
      <div>
        <p class="copyright">TabiNow.com © <%= Time.now.year %>
        </p>
      </div>
      <div class="list">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
