  <tr>
    <td>Itinerary.name</td>
    <td>
      <div class="status-pill pending">
        <span>pending</span>
      </div>
    </td>
    <td>3</td>
    <td>4</td>
    <td>
      <%= link_to "Edit", '#', class:"btn btn-sm btn-outline-secondary" %>
    </td>
  </tr>
