<h2 class="text-center text-gray my-4 fs-2">Reviews</h2>
<div class="row">
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chris
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">I highly recommend TabiNow. It helped me a lot when I planned my trip to Hokkaido. Within a few clicks I planned out my itinerary perfectly.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fred
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">I can't believe how simple and quickly I can design a unique travel plan for myself. And it's completely free!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hafid
          <span class="ms-2 text-info">
            <% 4.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">It's a great tool to help me organize a trip for my friends and family. It took me only a minute to plan my next trip.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Joyce
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">Travel planning used to be really stressful, but TabiNow helped so much that I actually enjoy planning my trips!</p>
      </div>
    </div>
  </div>
</div>
