<div class="section-about-left">
  <h4 class="fs-6 text-secondary text-uppercase">About Us</h4>
  <h5 class="fs-1 mb-4">
    We help you build a trip in <span class="text-primary">seconds</span>.
  </h5>
  <p>
    We believe that your trip should be more about the journey and less about the stress of planning it. That is why we aim to help you enjoy your trip. Whether you’re a local looking to discover the hidden gems of Japan, or a tourist who has never visited Japan before, our goal is to help you create your own travel itinerary within minutes!
  </p>
  <div class="feature my-3">
    <i class="fa-solid fa-arrow-pointer about-icon"></i>
    <div>
      <strong>Simple</strong>
      <p class="mb-0">DIY a full travel itinerary with just a few clicks.</p>
    </div>
  </div>
  <div class="feature">
    <i class="fa-solid fa-dollar-sign about-icon"></i>
    <div>
      <strong>Budget</strong>
      <p class="mb-0">We will make sure you stay within your budget.</p>
    </div>
  </div>
  <div class="feature">
    <i class="fa-solid fa-file-arrow-down about-icon"></i>
    <div>
      <strong>Save</strong>
      <p class="mb-0">Sign up to save all your itineraries.</p>
    </div>
  </div>
</div>
<div class="section-about-right">
  <%= image_tag "demo.png", alt: "tabinow", class:"section-about-img" %>
</div>
