<h2 class="text-center text-gray my-4 fs-2">Reviews</h2>
<div class="row">
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User 1
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sint excepturi perspiciatis consequuntur odit sit repellendus optio pariatur architecto sapiente.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User 2
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sint excepturi perspiciatis consequuntur odit sit repellendus optio pariatur architecto sapiente.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User 3
          <span class="ms-2 text-info">
            <% 4.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sint excepturi perspiciatis consequuntur odit sit repellendus optio pariatur architecto sapiente.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User 4
          <span class="ms-2 text-info">
            <% 5.times do %>
              <i class="fa-solid fa-star fs-5"></i>
            <% end %>
          </span>
        </h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla sint excepturi perspiciatis consequuntur odit sit repellendus optio pariatur architecto sapiente.</p>
      </div>
    </div>
  </div>
</div>
