<div class="section-about-left">
  <h4 class="fs-6 text-secondary text-uppercase">About Us</h4>
  <h5 class="fs-1 mb-4">
    We help you build a trip in <span class="text-primary">seconds</span>.
  </h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempora rerum
    eius commodi! A at dignissimos eius fuga nesciunt illum culpa esse natus
    aliquid aut dicta nobis voluptate iste autem laboriosam repudiandae, magnam
    exercitationem. Modi quas maiores suscipit numquam ducimus?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ab dolor at
    sapiente culpa aut dignissimos numquam distinctio doloremque eius.
  </p>
  <div class="feature my-3">
    <i class="fa-solid fa-arrow-pointer about-icon"></i>
    <div>
      <strong>Simple</strong>
      <p class="mb-0">DIY a full travel itinerary with just a few clicks.</p>
    </div>
  </div>
  <div class="feature">
    <i class="fa-solid fa-dollar-sign about-icon"></i>
    <div>
      <strong>Budget</strong>
      <p class="mb-0">We will make sure you stay within your budget.</p>
    </div>
  </div>
  <div class="feature">
    <i class="fa-solid fa-file-arrow-down about-icon"></i>
    <div>
      <strong>Save</strong>
      <p class="mb-0">Sign up to save all your itineraries.</p>
    </div>
  </div>
  <%= link_to "Read more", '#', class:"btn btn-outline-primary btn-tabinow mt-4"
  %>
</div>
<div class="section-about-right">
  <%= image_tag "demo.png", alt: "tabinow", class:"section-about-img" %>
</div>
