<div class="home-container">
  <div class="home-section top-section">
    <div class="top-section-left">
      <h1>Welcome to <span class="text-primary">Tabi</span>Now</h1>
      <h3 class="mt-4 text-white">Tell us what you need and we will design the perfect Tabi for you!</h3>
    </div>
    <div class="top-section-right">
      <div class="form-container">
        <h2 class="text-center mb-3">Begin your Tabi now!</h2>
        <%= render 'pages/external_request', itinerary: @itinerary %>
      </div>
    </div>
  </div>
  <div class="middle-section">
    <h2 class="text-center text-gray my-4 fs-2">How does it work?</h2>
    <div class="row mt-5">
      <!-- Step 1 -->
      <div class="col-12 col-lg-4 mt-3">
        <div class="illustration-container">
          <div class="illustration-1 illustration">
          </div>
        </div>
        <h3 class="step-title">Search</h3>
        <p class="text-center w-80">
          Select dates and destination.
        </p>
      </div>
      <!-- Step 2 -->
      <div class="col-12 col-lg-4 mt-3">
        <div class="illustration-container">
          <div class="illustration-2 illustration">
          </div>
        </div>
        <h3 class="step-title">Request</h3>
        <p class="text-center w-80">
          Make a request for your desired itinerary.
        </p>
      </div>
      <!-- Step 3 -->
      <div class="col-12 col-lg-4 mt-3">
        <div class="illustration-container">
          <div class="illustration-3 illustration">
          </div>
        </div>
        <h3 class="step-title">Confirm</h3>
        <p class="text-center w-80">
          Job done!
        </p>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
