<div class="home-container">
  <div class="home-section top-section">
    <div class="top-section-left">
      <h1>Welcom to TabiNow</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore numquam perferendis accusantium voluptatem necessitatibus odit ipsum error vitae corporis nobis, nesciunt enim libero sequi est nisi, quos placeat, tempora vel.</p>
    </div>
    <div class="top-section-right">
      <div class="form-container">
        <h2 class="text-center mb-3">Request an itinerary now!</h2>
        <%= render 'pages/external_request', itinerary: @itinerary %>
      </div>
    </div>
  </div>
  <div class="home-section">
    <h2>Home section 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
  <div class="home-section">
    <h2>Home section 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
  <div class="home-section">
    <h2>Home section 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione maxime sed enim adipisci eaque. Iste, nemo velit soluta neque deleniti asperiores ea dolor fugiat reprehenderit, perferendis, autem commodi suscipit!</p>
  </div>
</div>
