.category-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  overflow-x: auto;
  margin: 8px;
  border-radius: 0 50px 50px 0;

  h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0;
    width: 4rem;
    white-space: nowrap;
  }
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  aspect-ratio: 1 / 1;
  color: $white;
  border-radius: 50px;
  background-color: $secondary;

  &:hover {
    background-color: lighten($secondary, 2);
  }
}

.category-icon.purple {
  background-color: $purple;
  &:hover {
    background-color: lighten($purple, 2);
  }
}

.category-icon.pink {
  background-color: $pink;
  &:hover {
    background-color: lighten($pink, 2);
  }
}

.category-icon.magenta {
  background-color: $magenta;
  &:hover {
    background-color: lighten($magenta, 2);
  }
}

.category-icon.blue {
  background-color: $blue;
  &:hover {
    background-color: lighten($blue, 2);
  }
}

.category-icon.indigo {
  background-color: $indigo;
  &:hover {
    background-color: lighten($indigo, 2);
  }
}

.category-icon.dark-blue {
  background-color: $dark-blue;
  &:hover {
    background-color: lighten($dark-blue, 2);
  }
}

.category-icon.yellow {
  background-color: $yellow;
  &:hover {
    background-color: lighten($yellow, 2);
  }
}

.category-icon.teal {
  background-color: $teal;
  &:hover {
    background-color: lighten($teal, 2);
  }
}

.category-icon.cyan {
  background-color: $cyan;
  &:hover {
    background-color: lighten($cyan, 2);
  }
}
