.card.content-card {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .btn-add-content,
  .btn-delete-content {
    border: 0;
    padding: 4px 10px;
    border-radius: 20px;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card-text.line-clamp {
    overflow: hidden;
  }

  .available {
    margin-left: 4px;
    border-radius: 50px;
    margin-bottom: 0;
    padding: 2px 12px;
    font-size: 0.8rem;
    width: fit-content;
    background-color: rgba($green, 0.6);
    color: darken(rgba($green, 40), 40);
  }
}
