.content-cards-container {
  height: calc(100% - 75px);
  overflow: auto;
  padding-right: 16px;
}

.card.content-card {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .btn-add-content,
  .btn-delete-content {
    border: 0;
    padding: 4px 10px;
    border-radius: 20px;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card-text.line-clamp {
    overflow: hidden;
    margin-bottom: 8px;
  }

  .available {
    margin-left: 4px;
    border-radius: 50px;
    margin-bottom: 0;
    padding: 2px 12px;
    font-size: 0.8rem;
    width: fit-content;
    background-color: rgba($green, 0.6);
    color: darken(rgba($green, 40), 40);
  }

  .content-img,
  .result-img {
    margin: 8px 0;
    border-radius: 4px;
    overflow: hidden;
    background-color: $light-gray;
    background-position: center;
    background-size: cover;
  }
  .content-img {
    min-height: 12rem;
    min-width: 12rem;
    aspect-ratio: 1 / 1;
    margin: 0;
  }

  .result-img {
    transition: aspect-ratio 200ms;
    margin-bottom: 8px;
  }

  h5 {
    margin-bottom: 0;
  }

  @media (max-width: 500px) {
    h5 {
      font-size: 1rem;
    }
    h6.card-subtitle {
      font-size: 0.8rem;
    }

    p.card-text {
      font-size: 0.8rem;
    }

    .text-info,
    .available {
      font-size: 0.7rem;
    }
  }
}
