.devise-container {
  flex-direction: column;
  max-width: 800px;
  margin: 32px auto;
  padding: 48px;
  border-radius: 8px;
  height: fit-content;
  @media (max-width: 840px) {
    padding: 12px;
  }
}
