.filters-container {
  margin-top: 8px;
  display: flex;
  gap: 4px;
  width: 100%;
  overflow: auto;
}

.filter-pill {
  cursor: pointer;
  color: darken($primary, 30);
  background-color: rgba($primary, 0.4);
  border-radius: 40px;
  text-decoration: none;
  padding: 4px 12px;
  font-size: 0.8rem;
  margin-top: 8px;
}

.filter-pill.selected {
  background-color: $primary;
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}
