.filters-container {
  margin-top: 8px;
  display: flex;
  gap: 4px;
  width: 100%;
  overflow: auto;
}

.filter-pill {
  cursor: pointer;
  border-radius: 40px;
  text-decoration: none;
  padding: 4px 12px;
  font-size: 0.8rem;
  margin-top: 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.filter-pill.accommodation {
  color: darken($purple, 30);
  background-color: rgba($purple, 0.4);

  &:hover {
    opacity: 0.8;
  }
}

.filter-pill.accommodation.selected {
  background-color: $purple;
}

.filter-pill.activity {
  color: darken($pink, 30);
  background-color: rgba($pink, 0.4);

  &:hover {
    opacity: 0.8;
  }
}

.filter-pill.activity.selected {
  background-color: $pink;
}

.filter-pill.restaurant {
  color: darken($magenta, 30);
  background-color: rgba($magenta, 0.4);

  &:hover {
    opacity: 0.8;
  }
}

.filter-pill.restaurant.selected {
  background-color: $magenta;
}

.filter-pill.selected {
  color: $white;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}
