.footer {
  background-color: $tabinow-cyan;
  padding: 0px 0px;
  flex-shrink: 0;
  a {
    color: black;
  }
}

.footer li {
  color: $tabinow-pink;
  display: inline;
  margin-right: 0px;
  font-size: 18px;
}

.copyright {
  color: $black;
  font-size: 18px;
}
