.items-container {
  display: flex;
  gap: 1rem;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 1rem;
  height: 3.6rem;
  width: 3.6rem;
  // aspect-ratio: 1 / 1;
  font-size: 1.6rem;
  color: white;
  border-radius: 50px;
  background-color: $teal;

  &:hover {
    background-color: lighten($teal, 2);
  }
}

// .item-icon.activity {
//   background-color: $blue;
// }
// .item-icon.restaurant {
//   background-color: $green;
// }
// .item-icon.hotel {
//   background-color: $teal;
// }
// .item-icon.transport {
//   background-color: $purple;
// }
