.items-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0;
    width: 4rem;
  }
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 3.6rem;
  font-size: 1.6rem;
  color: $light-gray;
  border-radius: 50px;
  background-color: $secondary;

  &:hover {
    background-color: lighten($secondary, 2);
  }
}
