.navbar-tabinow {
  justify-content: space-between;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 20;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    display: flex;
    align-items: end;
  }

  .navbar-brand img {
    height: 40px;
    width: 40px;
  }
  .logo {
    font-family: "Handlee", cursive;
    font-size: 1.4rem;
  }
}
