.sidebar {
  min-width: 12rem;
  width: 12rem;
  transition: 200ms;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
  border-radius: 0;
  padding-top: 20px;
  background-color: white;
}

.sidebar-hide {
  min-width: 0;
  width: 16px;
  margin-right: 0.2rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-toggle-btn {
  position: absolute;
  z-index: 10;
  left: 172px;
  top: 40px;
  border-radius: 50px 4px 4px 50px;
  transition: 200ms;
}

.shift-btn {
  left: -4px;
  opacity: 0.8;
  border-radius: 4px 50px 50px 4px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  white-space: nowrap;

  h1 {
    font-size: 1.04rem;
    width: 100%;
    white-space: break-spaces;
  }

  a {
    font-size: 0.9rem;
  }
}

.sidebar-links-container {
  height: calc(100vh - 66px - 480px);
  overflow: auto;
  display: flex;
}

.sidebar-link {
  margin-bottom: 0;
  padding: 4px 8px;
  color: $gray;
  &:hover {
    background-color: lighten($primary, 40%);
  }
}

.active {
  color: $white;
}

.sidebar-itinerary-info {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 600;
  // color: rgba($primary, 0.8);
  margin-bottom: 0;
}

.btn-add-day {
  text-align: left;
  border-radius: 4px;
  padding-left: 8px;
  background-color: rgba($secondary, 0.4);
  color: darken($secondary, 20);
  border: transparent;
  width: 100%;
  opacity: 0.8;

  &:hover {
    opacity: 0.9;
    background-color: rgba($secondary, 0.5);
    color: darken($secondary, 30);
  }
}
