::selection {
  color: $white;
  background: $primary;
}

.price-input-container {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 16px;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 1rem 0 2rem;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1rem;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: $light-gray;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: $light-gray;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 20%;
  right: 40%;
  position: absolute;
  border-radius: 8px;
  background: $primary;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: $primary;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: $primary;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

input.input-max,
input.input-min {
  height: 2.4rem;
}
