// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "global/fonts";
@import "pages/index";

body {
  overflow: hidden;
}
main {
  position: relative; // for sidebar
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  min-height: calc(100vh - 64px); // 100vh - navbar height
  overflow-x: auto;
  // overflow-y: hidden;
}
